/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*
MAIN COLOR: #99e9f2
GREY COLOR: #343a40
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  border-bottom: 5px solid #22b8cf;
  min-height: calc(100vh - 12px); /*12px is the margin top of navbar*/
  /*first value is the horizontal offset*/
  /*second value is the vertical offset*/
  /*third value is the blur*/
  /*fourth value is optional and 0px by default, and it is if we want to scale the shadow*/
  /*fifth value is the color*/
}

.global {
  position: relative;
}

/* HEADER `*/
.nav-custom {
  background: linear-gradient(150deg, #99e9f2, #1098ad, #0b7285);
  margin: 12px auto;
  padding: 15px;
  box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.08);
  border-radius: 12px;

  display: flex;
  justify-content: space-between;
}

.nav-custom-scrolled {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar-collapse {
  flex-grow: 0;
}

.main-tab:link,
.main-tab:visited {
  color: #343a40;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #e3fafc;
  display: inline-block;
  font-weight: 700;
  /* border-radius: 300px; if this value is higher than the height, then it will be completely round */
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 15px;
  font-size: 24px;
  letter-spacing: 0.5px;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: background-color 1s, color 2s, border 1s, box-shadow 1s,
    letter-spacing 1s;
}

.main-tab:hover {
  /* background-color: #c5f6fa !important; */
  color: #343a40 !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  letter-spacing: -0.5px;
}

.sec-tab:link,
.sec-tab:visited {
  color: #f8f9fa;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  margin: 0 25px;
  transition: color 1s, transform 0.5s;
}

.sec-tab:hover {
  color: #ced4da;
  transform: scale(1.1);
}

.st-active:link,
.st-active:visited {
  color: #3bc9db;
}

/* CONTENT */

.content {
  margin-top: 96px;
}

.header-title {
  font-size: 74px;
  text-align: left;
  margin-bottom: 52px;
  letter-spacing: -6px;
  font-weight: 700;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}

.header-text {
  /* 18 / 20 */
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 24px;
  max-width: 60ch;
  text-align: left;
  font-weight: 500;
  margin-bottom: 32px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}

.header-text span {
  font-weight: 300;
}

.btn:link,
.btn:visited {
  color: #f8f9fa;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #22b8cf;
  display: inline-block;
  font-weight: 500;
  border-radius: 300px; /* if this value is higher than the height, then it will be completely round */
}

.btn:hover {
  background-color: #66d9e8;
}

.btn--big {
  padding: 16px 32px;
  font-size: 18px;
}

.img-perfil {
  width: 100%;
  border-radius: 15px;
}

/* Biography area */
.biography-div {
  margin-top: 80px;
}

.biography-div h2 {
  font-size: 36px;
  font-weight: 700;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 48px;
}

.biography-div h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
}

.biography-div p {
  max-width: 20ch;
  line-height: 1.7;
}

.bio-icon {
  width: 44px;
  height: auto;
  margin-bottom: 24px;
  fill: #c5f6fa;
  background-color: #22b8cf;
  border-radius: 50%;
  padding: 8px;
}

/*Academi*/
.academic-title {
  font-size: 36px;
  font-weight: 700;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 48px;
  margin-top: 48px;
}

.table-responsive {
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
}

.table {
  margin-bottom: 0;
}

/*Footer*/
footer {
  /* 10 / 12 / 14 */
  font-size: 14px;
  margin: 80px 0 32px 0;
  color: #495057;
  text-align: center;
}

footer span {
  font-weight: 500;
}

/*LINKS*/
.btn-social:link,
.btn-social:visited {
  margin: 0 auto;
  display: block;
  width: 70%;
  min-width: 95px;
}

.c-instagram:link,
.c-instagram:visited {
  background-color: #ff6b6b;
}

.c-facebook:link,
.c-facebook:visited {
  background-color: #339af0;
}

.c-twitter:link,
.c-twitter:visited {
  background-color: #74c0fc;
}

.c-github:link,
.c-github:visited {
  background-color: #495057;
}

.c-linkedin:link,
.c-linkedin:visited {
  background-color: #1864ab;
}

.card {
  border: 0 !important;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.08);
}

.card img {
  width: 100%;
  height: 175px;
}

/*PHOTOS*/
.small-img {
  width: 100%;
  height: auto;
  transition: transform 1s, box-shadow 1s;
  border-radius: 15px;
}

.small-img:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.08);
}

.all-images-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
}

.img-grid {
  --bs-gutter-x: 12px;
  --bs-gutter-y: 12px;
}

.carousel-inner {
  border-radius: 15px;
}

.modal-body {
  padding: 0;
}
