@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap");

.everything {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

/* MOVIE PAGE */

.movie-info-area {
  width: 100%;
  padding: 48px;
  border-radius: 45px;

  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 45vh auto;

  gap: 64px;
}

.banner-img {
  grid-column: 1 / 2;
  grid-row: 1/ -1;
  width: 100%;
  min-width: 350px;
  height: auto;
  border-radius: 25px;
  box-shadow: 200px 300px 1200px rgb(164, 22, 26, 0.15),
    -200px 0px 5000px rgba(0, 68, 255, 0.3), rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.movie-info {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.similar-movies {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}

.rating-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 18px;
  flex-wrap: wrap;
}

.rating-logo {
  width: 24px;
  height: auto;
  fill: #f59f00;
}

.rating-div i {
  padding: 0px 12px;
  font-weight: 700;
  color: #fff;
}

.movie-name-header {
  color: #fff;
  font-size: 48px;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  letter-spacing: -2px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 48px;
}

.year_and_time {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.movie-year-time {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0;
}

.clock-icon {
  width: 24px;
  height: auto;
  fill: #a4161a;
}

.genres {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.genres p {
  color: #fff;
  background-color: #495057;
  padding: 8px 12px;
  border-radius: 12px;
  filter: brightness(70%);
  cursor: default;
  margin-bottom: 0;
  font-size: 10px;
}

.movie-description {
  color: #868e96;
  max-width: 50ch;
  line-height: 1.4;
  margin-bottom: 20px;
  font-weight: 500;
}

.watch-trailer {
  padding: 8px 12px;
  border: none;
  background-color: #a4161a;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0px 0px 10px rgb(255, 107, 107, 0.2);
  margin-bottom: 64px;
}

.watch-trailer:hover {
  filter: brightness(120%);
  box-shadow: 0px 0px 10px rgb(255, 107, 107, 0.51);
}

.video-frame {
  width: 100%;
  height: 70vh;
}

.cast {
  margin-bottom: 48px;
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.cast h6 {
  margin-bottom: 0;
}

.a_actor {
  font-size: 10px;
  color: #868e96;
}

.a_actor:hover {
  color: #868e96;
  filter: brightness(120%);
}

.popover-custom {
  display: flex;
  flex-direction: column;
  position: relative;
}

.popover-custom img {
  position: absolute;
  top: 25px;
  left: 50%;
  /* the begggining of the image is in the center, and then it has all the entire width, so we need
  to substract half of it so it is centered*/
  transform: translate(-50%, 0);
  width: 48px;
  height: auto;
  opacity: 0;
  transition: 0.5s opacity;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.popover-custom:hover img {
  opacity: 1;
}

.modal-content {
  background-color: transparent;
}

.modal-body {
  padding: 0;
}

.similar-movies h5 {
  font-weight: 600;
  color: #fff;
  font-size: 20px;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

.similar-movies span {
  color: #a4161a;
}

.flex-similar-movies {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.similar-movie-div {
  background-size: cover;
  width: 17%;
  height: 250px;
  display: flex;
  position: relative;
  filter: brightness(70%);
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.similar-movie-div:hover {
  cursor: pointer;
  filter: brightness(100%);
}

.smovie-more-info {
  color: #fff;
  font-weight: 900;
  left: 50%;
  top: 50%;
  font-size: 16px;
  transform: translate(-50%, -50%);
  position: absolute;
}

/* ---------------------------------------------------------------------- */

/* ALL MOVIES PAGE */
.movies-section {
  margin: 48px auto 24px auto;
}

.movies-flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;

  padding: 0 48px;
}

.movie-card {
  width: calc(25% - 24px);
  position: relative;
  cursor: pointer;
  border-radius: 45px;
  box-shadow: 200px 300px 1200px rgb(164, 22, 26, 0.15),
    -200px 0px 100px rgba(0, 68, 255, 0.15), rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.movie-card img {
  width: 100%;
  height: auto;
  filter: brightness(100%);
  transition: filter 0.5s;
  border-radius: 20px;
}

.movie-card-info {
  position: absolute;
  top: 10%;
  left: 20px;
  bottom: 10%;
  right: 20px;
  text-align: left;
  opacity: 0;
  transition: opacity 1s;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-card:hover .movie-card-info {
  opacity: 1;
}

.movie-card-title {
  color: #fff;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: -1px;
  max-width: 15ch;
  margin-bottom: 20px;
}

.movie-card-description {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  max-width: 30ch;
  text-align: left;
  margin-bottom: 20px;
  height: 150px;
  overflow-y: scroll;
}

.movie-card-year-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  color: #fff;
  font-weight: 700;
}

.movie-card-rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.movie-card:hover img {
  filter: brightness(25%);
}

.genres_div {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.genres_div p {
  color: #868e96;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0;
}

.paginator {
  width: 100%;
  margin: 64px auto 24px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.btn-pag {
  border: 2px solid #a4161a;
  border-radius: 50%;
  background-color: #fff;
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-pag:hover {
  background-color: #a4161a;
}

.btn-pag:hover .btn--icon {
  stroke: #fff;
}

.btn--icon {
  stroke: #a4161a;
  height: 24px;
  width: 24px;
}

.pag-number {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
}

.pag-number:hover,
.pag-number.number-active {
  background-color: #a4161a;
  color: #fff;
}

.etc {
  font-size: 20px;
  color: #868e96;
  margin-bottom: 0;
}

.movies-filters {
  margin-bottom: 64px;
  margin: 0px 48px 64px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.secondary-filters {
  display: flex;
  gap: 20%;
  align-items: center;
  justify-content: flex-end;
}

.input-search-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 12px 26px;
  border: 1px solid #495057;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 10px;
}

.input-search {
  border: none;
  background-color: transparent;
  color: #fff;
  outline: none;
  font-weight: 500;
}

.btn-icon {
  background-color: transparent;
  border: none;
}

.search-icon {
  width: 24px;
  height: auto;
  fill: #df383e;
}

.btn-year {
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 10px;
  font-weight: 500;
  border: 1px solid #495057;
  color: #fff;
  outline: none;
}

.btn-year:hover {
  color: #fff;
}

.dropdown-menu {
  min-width: 90px;
}

.dropdown-item {
  font-weight: 500 !important;
}

.dropdown-item.year-active,
.dropdown-item.sort-active,
.dropdown-item.genre-active {
  color: #a4161a !important;
  background-color: transparent !important;
}
