@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

main color: #a4161a;
secondary color: #444;
background color: #212529;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #444;
  background-color: #16161d;
  min-width: 769px;
}

.development {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.development h1 {
  font-size: 64px;
  letter-spacing: -3px;
  color: #fff;
}
